Flask==3.0.1
Requests==2.31.0
ipdb==0.13.13
tqdm==4.65.0
matplotlib==3.8.2
pandas==2.2.0
numpy==1.26.3
scipy==1.12.0
scikit_learn==1.4.0
torch==2.1.2
torchdata==0.7.1
torchmetrics==1.2.0
transformers==4.37.0
nltk==3.8.1
openai==1.9.0
optuna==3.5.0
dask==2024.1.0
dask_cuda==23.12.0
