torch==2.1.2 --find-links https://download.pytorch.org/whl/cu118
torchdata==0.7.1
torchmetrics==1.2.0  # not in nvcr.io/nvidia/pytorch:23.12-py3
openpyxl==3.1.2  # not in nvcr.io/nvidia/pytorch:23.12-py3
openai==1.9.0  # not in nvcr.io/nvidia/pytorch:23.12-py3
optuna==3.5.0  # not in nvcr.io/nvidia/pytorch:23.12-py3
transformers==4.37.0  # not in nvcr.io/nvidia/pytorch:23.12-py3
nltk==3.8.1  # not in nvcr.io/nvidia/pytorch:23.12-py3
tqdm==4.66.1
numpy==1.24.4
hdbscan==0.8.33  # not in nvcr.io/nvidia/pytorch:23.12-py3
pandas==1.5.3
matplotlib==3.8.2
Requests==2.31.0
Flask==3.0.1  # not in nvcr.io/nvidia/pytorch:23.12-py3